# =========================
# env
# =========================

.env

# =========================
# python / jupyter
# =========================

__pycache__/
.ipynb_checkpoints/

# =========================
# data (large / reproducible)
# =========================

data/

# =========================
# models
# =========================

models/
